p.dashed {
    border-style: dashed;
}

.select {
    width: 250px;
    margin-top: -20px;
}

.button {
    width: 250px !important;
}

#label123 {
    /* height: 400px; */
    margin-right: 40px;
    margin-left: -50px;
}

.left-store {
    border-right: 1px #2887d2 solid;
}

.right-store {
    margin-left: 25px;
}